@*
    @author Lawrence Cheung
*@

@extends("template", title: "page.tagDemo.url.title")

<div class="container">

    <h1>@message("page.tagDemo.url.title")</h1>
    
    <section class="row">
        
        <div class="col-lg-12">
            
<pre>
    &lt;link rel=stylesheet type=&quot;text/css&quot; href=&#39;@@url(&quot;/css/bootstrap.min.css&quot;)&#39; /&gt;
</pre>
            
            @url("/css/bootstrap.min.css").assign("cssUrl")
            
            @{
                String result = 
                    "&lt;link rel=stylesheet type=&quot;text/css&quot; href=&#39;" + cssUrl + "&#39; /&gt;";
            }
            
<pre>
    @message("page.tagDemo.result", result)
</pre>
            
        </div>
        
    </section>

</div>